body {
  position: relative;
  font-family: "Poppins", sans-serif;
}

/* Style the cart container */
#cart-button {
  position: fixed;
  top: 40%;
  right: 0;
  width: 100px;
  height: 120px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

#cart-button h4,
#cart-button p {
  margin: 0;
}

#cart-button:hover {
  cursor: pointer;
}

/* Style for cart top (icon and items together) */
.cart-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-icon svg {
  width: 20px;
  height: 20px;
}

/* Overlay that darkens the background */
#cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

#cart-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* CART DETAILS */
#cart-details {
  position: fixed;
  top: 0;
  right: -440px;
  height: 100vh;
  width: 440px;
  background-color: white;
  color: black;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: right 0.3s ease-in-out;
}

#cart-details.active {
  right: 0;
}

#cart-details h4,
#cart-details p {
  margin: 0;
}

/* Cart header with close button */
.cart-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.cart-header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cart-header-left p {
  font-size: 18px;
  font-weight: bold;
}

.cart-header-bottom {
  background: #cde9f7;
  padding: 12px 30px;
  text-align: center;
}

.cart-header-bottom p {
  font-size: 14px;
  line-height: 16px;
}

/* Close button */
#close-cart {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 35px;
  height: 35px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  background-color: #00000026;
}

#close-cart svg {
  width: 1.3em;
}

/* Cart body (cart details) */
.cart-body {
  text-align: center;
  flex-grow: 1;
}

/* Cart footer with checkout button */
.cart-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  padding: 0 12px;
}

.checkout-btn {
  background-color: #28a745;
  color: white;
  border: none;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #218838;
}

/* PRODUCT DETAILS */
/* Product styles */
.product {
  display: flex;
  padding: 15px 30px;
  border-bottom: 1px solid #eee;
}

.product-image img {
  width: 100px;
  object-fit: cover;
  display: block;
}

.product-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-quantity p {
  display: flex;
  justify-content: end;
  font-size: 14px;
  font-weight: 700;
}

.product-quantity button {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.product-quantity button img {
  width: 18px;
  height: 18px;
  opacity: 0.5;
}

.product-quantity button img:hover {
  opacity: 1;
}

.product-increase-decrease {
  display: flex;
  background-color: #eeeeee;
  border-radius: 3px;
}

.product-increase-decrease .decrease-btn {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-increase-decrease span {
  width: 26px;
  height: 26px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-increase-decrease .increase-btn {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  margin-left: 16px;
  flex-grow: 1;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.product-title-price h5 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  flex: 1;
}

.product-title-price p {
  text-align: left;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  margin-top: 3px !important;
  margin-bottom: 7px !important;
}

.remove-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.remove-btn img {
  width: 13px;
  height: 13px;
  opacity: 0.5;
}

.remove-btn img:hover {
  opacity: 1;
}

/* EMPTY CART STYLES  */

.empty-cart-body {
  margin-top: 30%;
}

.empty-cart-body p {
  font-size: 18px;
  text-align: center;
  color: #888;
  margin-top: 20px;
}

.empty-cart-icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.empty-cart-icon svg {
  color: #ccc;
}
