body {
  position: relative;
}

/* Style the cart container */
#cart-button {
  position: fixed;
  top: 40%;
  right: 0;
  width: 100px;
  height: 120px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

#cart-button h4,
#cart-button p {
  margin: 0;
}

#cart-button:hover {
  cursor: pointer;
}

/* Style for cart top (icon and items together) */
.cart-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-icon svg {
  width: 28px;
  height: 28px;
  color: #333;
}

/* Overlay that darkens the background */
#cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

#cart-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* CART DETAILS */
#cart-details {
  position: fixed;
  top: 0;
  right: -440px;
  height: 100vh;
  width: 440px;
  background-color: white;
  color: black;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: right 0.3s ease-in-out;
}

#cart-details.active {
  right: 0;
}

#cart-details h4,
#cart-details p {
  margin: 0;
}

/* Cart header with close button */
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.cart-header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cart-header-left p {
  font-size: 18px;
  font-weight: bold;
}

/* Close button */
#close-cart {
  background: none;
  border: 1px solid #4f4f4f;
  padding: 3px 15px;
  cursor: pointer;
}

/* Cart body (cart details) */
.cart-body {
  text-align: center;
  flex-grow: 1;
}

/* Cart footer with checkout button */
.cart-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  padding: 0 12px;
}

.checkout-btn {
  background-color: #28a745;
  color: white;
  border: none;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #218838;
}

/* PRODUCT DETAILS */
/* Product styles */
.product {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.product-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.product-image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: 16px;
  flex-grow: 1;
}

.product-info h5 {
  text-align: left;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  flex: 1;
}

.product-info p {
  text-align: left;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  flex: 1;
}

.product-quantity button {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.product-quantity button img {
  width: 18px;
  height: 18px;
  opacity: 0.5;
}

.product-quantity button img:hover {
  opacity: 1;
}

.remove-btn {
  background-color: transparent;
  border: none;
  color: #f44336;
  font-size: 24px;
  cursor: pointer;
}

/* EMPTY CART STYLES  */
/* Empty Cart Styling */

.empty-cart-body {
  margin-top: 30%;
}

.empty-cart-body p {
  font-size: 18px;
  text-align: center;
  color: #888;
  margin-top: 20px;
}

.empty-cart-icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.empty-cart-icon svg {
  color: #ccc;
}
